
@media (min-width: 576px) {
    .cb-review {
        width: 40rem;
        margin: 1rem;
    }
}

@media (max-width: 576px) {
    .cb-review {
        width: -webkit-fill-available;
        margin: 1rem 2rem;
    }
}

.cb-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cb-review h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cb-review .cb-rating {
    --starsize: 3rem;
}
