@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cb-primary: #de2454;
    --cb-primary-dark: #b41b43;
    --cb-primary-darker: #851432;
    --cb-secondary: #573ba3;
    --cb-secondary-dark: #2b0f42;
}

.cb-colored-nav {
    background-color: var(--cb-secondary);
    text-shadow: 2px 2px 2px #000000b0;
}

a.navbar-brand {
    display: flex;
    gap: 1rem;
}

header > div {
    max-width: 1200px;
}

.navbar-nav {
    width: 100%;
}

.cb-last-link {
    margin-right: auto;
}

.cb-logo {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

a {
    color: var(--cb-primary);
}

    a:hover {
        color: var(--cb-primary-dark);
    }

.btn-primary {
    color: #fff;
    background-color: var(--cb-primary);
    border-color: var(--cb-primary-dark);
}

    .btn-primary:hover {
        color: #fff;
        background-color: var(--cb-primary-dark);
        border-color: var(--cb-primary-dark);
    }

    .btn-primary:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: var(--cb-primary-darker);
        border-color: var(--cb-primary-dark);
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem #de245466;
        background-color: #c31d47;
        border-color: #b41b43;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem #de245499;
    }

.form-control:focus {
    border-color: #f35e83;
    box-shadow: 0 0 0 0.25rem #fd2e6140;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.cb-margin-title {
    margin: 2rem 1rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 9rem;
    font-family: 'Roboto Slab', sans-serif;
}

.cb-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 2rem;
}


/* Card style */
.cb-book-card {
    transition-duration: 0.2s;
    cursor: pointer;
    color: black;
    text-decoration: none;
    box-shadow: 0px 5px 10px #00000050;
    margin: 1rem;
}

    .cb-book-card:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
    }

    .cb-book-card > div {
        height: 15rem;
        margin-top: -14rem;
        background: linear-gradient( 0deg, white 10%, transparent 50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .cb-book-card > img {
        height: 22rem;
        object-fit: cover;
        object-position: center;
        background-image: URL("/popcornreelcoolbook.jpg");
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    .cb-book-card > span {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        text-shadow: 0 0 2px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
        font-weight: 600;
    }

.cb-book-title {
    text-shadow: 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 5px white;
}
/* Rating input CSS */
.cb-rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

    .cb-rating::-webkit-slider-runnable-track {
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
        -webkit-mask: repeat left center/var(--starsize) var(--symbol);
        background: var(--fillbg);
    }

    .cb-rating::-webkit-slider-thumb {
        height: var(--starsize);
        -webkit-appearance: none;
        background-color: var(--fill);
        box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
        opacity: 1;
        width: 1px;
    }

.cb-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 1rem 2rem;
}

    .cb-details > img {
        height: 15rem;
        max-width: 100%;
        object-fit: contain;
    }

.cb-details-cols {
    column-count: 2;
    column-gap: 2.5rem;
}
    .cb-details-cols >div{
        height: 22rem;
    }
    .cb-details-cols > div:first-of-type {
        text-align: end;
    }
