@{
    ViewData["Title"] = "Manager Page";
    ViewData["colored"] = true;
}

@section Styles {
    <link href="@Url.Content("~/css/Manager/Graphs.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <!-- load the d3.js library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- Graph logic -->
    <script src="~/js/graphs.js"></script>
}


<div class="cb-main-color">
    <h1>Graphs Page</h1>

    <h3>Books by Categories</h3>
    <div id="books-amount"></div>


    <h3>Most Watched Books</h3>
    <div id="watched-books"></div>


    <h3>Highest Rated Books</h3>
    <div id="best-books"></div>
</div>