@{
    ViewData["Title"] = "Manager Page";
    ViewData["colored"] = true;
}

<div class="cb-main-color">
    <h1>Graphs Page</h1>

    <h3>Books by Categories</h3>

    <h3>Most Watched Books</h3>

    <h3>Highest Rated Books</h3>
</div>