@{
    ViewData["Title"] = "Manager Page";
    ViewData["colored"] = true;
}

<div class="cb-main-color">
    <h1>Graphs Page</h1>

    <h3>Books by Categories</h3>

    <h3>Most Watched Books</h3>

    @foreach (var book in ViewData["WatchedBooks"] as IEnumerable<CoolBook.Models.Book>)
    {
        <div class="col-sm-5" style="width: 100%"> @book.Name, @book.Views</div>
    }

    <h3>Highest Rated Books</h3>
    
    @foreach (var book in ViewData["BestBooks"] as IEnumerable<CoolBook.Models.Book>)
    {
        <div class="col-sm-5" style="width: 100%"> @book.Name, @book.Rate </div>
    }

</div>