#cb-search-container {
    display: grid;
    margin: 0 3em;
    justify-content: center;
}

@media (min-width: 576px) {
    #cb-search-container {
        grid-template-columns: 20rem repeat(auto-fill, 16.5rem);
    }

    .cb-search-books {
        grid-row: 1 / 10000;
        margin: 1rem 1rem auto;
    }
}

@media (max-width: 576px) {
    #cb-search-container {
        grid-template-columns: 20rem;
    }

    .cb-search-books {
        margin: 1rem;
    }
}


.cb-search-title {
    margin: 1rem 3rem;
    font-size: 2.5em;
}
