@model CoolBook.Models.User

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link href="@Url.Content("~/css/Users/Login.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <br />
    <h1>Login</h1>

    <hr />
    <form asp-action="Login" class="cb-login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input id="user" asp-for="UserName" class="form-control" placeholder="Username" />
            <label for="user" asp-for="UserName"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input id="pass" asp-for="Password" class="form-control" placeholder="Password" />
            <label for="pass" asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <input type="text" name="LoginRedirect" value="@ViewData["LoginRedirect"]" hidden="hidden" />
        </div>
        <div class="mt-4 mb-4">
            <input type="submit" value="Login" class="btn btn-primary w-100" />
        </div>
        <div class="text-center">
            <a asp-action="Register">New to CoolBook? Register here</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
