@model CoolBook.Models.User

@{
    ViewData["Title"] = "Registration";
}

@section Styles {
    <link href="@Url.Content("~/css/Users/Register.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <br />
    <h1>Register</h1>

    <hr />
    <form asp-action="Register" class="cb-register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input id="user" asp-for="UserName" class="form-control" placeholder="Username" />
            <label for="user" asp-for="UserName" class="control-label"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input id="email" asp-for="Email" class="form-control" placeholder="Email" />
            <label for="email" asp-for="Email" class="control-label"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input id="pass" asp-for="Password" class="form-control" placeholder="Password" />
            <label for="pass" asp-for="Password" class="control-label"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mt-4 mb-4">
            <input type="submit" value="Register" class="btn btn-primary w-100" />
        </div>
        <div class="text-center">
            <a asp-action="Login">Already have an account? Login here</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
