@{
    ViewData["Title"] = "About us";
}

@section Styles {
    <link href="@Url.Content("~/css/Home/About.css")" rel="stylesheet" type="text/css" />
}

<h1>@ViewData["Title"]</h1>

<div class="cb-video">
    <video autoplay loop muted>
        <source src="~/video.mp4">
        <p>Your browser does not support HTML5 video.</p>
    </video>
</div>
