@{
    ViewData["Title"] = "Home Page";
    ViewData["colored"] = true;
}

@section Styles {
    <link href="@Url.Content("~/css/Home/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="cb-main-color text-light">
    <h1>Enjoy the best books at CoolBook.</h1>
    <form asp-controller="Books" asp-action="Search">
        <input name="Name" class="form-control-lg" placeholder="Search" />
        <button type="submit" formmethod="get">
            <i class="bi bi-search"></i>
        </button>
    </form>
</div>

@* TODO: Add most viewed books here *@