@{
    ViewData["Title"] = "Home Page";
    ViewData["colored"] = true;
}

@section Styles {
    <link href="@Url.Content("~/css/Home/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="cb-main-color text-light">
    <h1>Enjoy the best books at CoolBook.</h1>
    @*TODO: Add search*@
    <form asp-action="Search"><input class="form-control-lg" placeholder="Search" /><button type="submit"><i class="bi bi-search"></i></button></form>
</div>
@for (int i = 0; i < 100; i++)
{
    @Html.Raw("Content<br />")
}