@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information put on this site is, and will be, used for profit. 
    Names, addresses and phone numbers are sold to a third party, the corrupted the better.
    We also track your keyboard and mouse movement and sell it too.</p>
