<a class="card cb-book-card" href="{link}">
    <img class="card-img-top" src="{image}" alt="{title}">
    <span>{price}</span>
    <div class="card-body">
        <h5 class="card-title cb-book-title">{title}</h5>
        <div class="card-text">{text1}</div>
        <div class="card-text">{text2}</div>
    </div>
</a>